export default {
  transportInfo: {
    host: "smtp.163.com",
    secureConnection: true,
    port: 465,
    secure: true,
    auth: {
      user: "require@require.require",
      pass: "require"
    }
  },
  mailInfo: {
    from: "\"ArcOJ-BackEnd Team\" <require@require.require>",
    subject: "您的 NKU Online Judge 邮箱验证码"
  }
}
