export default {
  transportInfo: {
    host: "mail.transcliff.top",
    port: 465,
    secure: true,
    auth: {
      user: "noreply@transcliff.top",
      pass: ""
    }
  },
  mailInfo: {
    from: "\"ArcOJ BackEnd Team\" <noreply@transcliff.top>",
    subject: "您的 NKU Online Judge 邮箱验证码"
  }
}
